---
layout: default
title: GitLab for Education Survey Report
description: "Read the results of our GitLab for Education Survey."
twitter_image: "/images/opengraph/education-survey-2020-opengraph.png"
canonical_path: "/solutions/education/edu-survey"
suppress_header: true
extra_css:
  - contributing.css
  - community.css
  - bl-modal.css
  - video-carousel.css
  - all-remote.css
  - sales-and-free-trial-common.css
extra_js:
  - libs/slick.min.js
  - video-carousel.js
  - all-clickable.js
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        = image_tag "/images/community/gitlab-for-education-logo-digital-rgb-04.svg", class: "gitlab-for-education-logo-digital-rgb-04", alt: "Gitlab for Education logo"
        %h1.page-headline GitLab for Education 2020 Program Survey
        %h2.page-subtitle See the results and discover how DevOps is transforming education
        .row.text-center
          = link_to "Download the report now", "/solutions/education/edu-survey/edu-survey-2020.pdf", class: "btn cta-btn orange margin-top20"

.wrapper.wrapper--large-fonts
  #content.devops-content.u-margin-top-lg
    .wrapper.container.js-in-page-nav-group{role: "main"}
      .row.u-margin-top-lg
        .col-md-10.col-md-offset-1
          %h2.u-text-brand

.wrapper.all-remote-landing
  .hero
    .container
      .row.hero-row
        .col-md-5.hero-image-col
          .hero-image-wrap
            .playbook-color-block.playbook-color-block-1
            .playbook-color-block.playbook-color-block-2
            = image_tag "/images/education/edu-survey-2020-cover.png"
          .playbook-share-block
            .playbook-share-text
              Share:
            - url = full_url(current_page)
            .share-butons.clearfix
              %a.share-btn.share-btn-facebook{ href: "http://www.facebook.com/sharer.php?u=#{url}",
                target: "_blank",
                onclick: "openSocialLink(this, 500, 400); return false;" }
                %i.fab.fa-facebook
                %span.sr-only
                  Share on Facebook
              %a.share-btn.share-btn-twitter{ href: "http://twitter.com/share?url=#{url}&text=#{current_page.data.title}",
                target: "_blank",
                onclick: "openSocialLink(this, 500, 400); return false;" }
                %i.fab.fa-twitter
                %span.sr-only
                  Share on Twitter
              %a.share-btn.share-btn-linkedin{ href: "https://www.linkedin.com/shareArticle?mini=true&url=#{url}&title=#{current_page.data.title}&summary=&source=",
                target: "_blank",
                onclick: "openSocialLink(this, 500, 400); return false;" }
                %i.fab.fa-linkedin
                %span.sr-only
                  Share on LinkedIn

        .col-md-7.hero-content-col
          .hero-content
            %h1
              %strong
                Download the GitLab for Education 2020 Program Survey Results
            %ul.margin-top20
              %li
                Discover how GitLab's Education Program Members are transforming education with DevOps
              %li
                Understand the advantages of bringing DevOps & GitLab to your classroom
              %li
                Learn how DevOp is innovating scientific research
              %li
                See what challenges educational institutions face in their DevOps journey


.row.text-center
  = link_to "Learn more about the GitLab for Education Program", "/solutions/education/", class: "btn cta-btn yellow margin-top20"
